@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Share+Tech+Mono&family=Suranna&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



#InteriorNav{
    background-color: #0F1533;
}

#barra {
    background-color: #0F1533;
}

.imagenFondo {
    background-image: url(./assets/bg-night-2.jpg);
    height: 80vh;
    width: 10hv;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

#testing {
    color: aliceblue;
}

#first-text{
    letter-spacing: 3px;
}

#first-section{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contenedorpadrenav{
  
    display: flex;
    padding: 10px;
    padding-inline: 100px !important;
   
} 

.contenedor-logo{
   

    height:70px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    padding: 0;
}

.logo{
    width: 200px;
}

.site-description{
    position: absolute;
    bottom: -10px;
    left: 35px;
    color: white;
    letter-spacing: 2px;
    font-size: 12px;


}

.contenedortextoimagen{
    width: max-content;
    margin: 0;
}

.contenedortextoimagen h2{
    text-wrap: pretty;
    width: 65%;
    font-size: 55px;
}

.contenedortextoimagen h2 b{
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#Icons-first-section{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 10%;
    height: 10%;
}

#buttonFirstSection{
    letter-spacing: 3px;
    width: 35%;
}

#background-SecondImage{
    background-image: url(./assets/pic-woman-bed.jpg);
    height: 140vh;
    width: 10hv;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

#SubSecondSection{
    letter-spacing: 3px;
    width: 35%;
    color: #0F1533;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 5%;
}

#textSecondSection{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    color: #0F1533;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 260%;
    padding-left: 2%;
}


.seccion-beneficios {
    background-color: #E8E1DB;
    padding: 0 50px;
}

.contenedor-seccion-global {
    padding: 80px 0 70px 0;
}

.iconos-beneficios {
    width: 90px;
    height: auto;
    margin-bottom: 20px;
}

.titulos-h4 {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #122182;
    margin-bottom: 10px;
}

.parrafos-beneficios {
    font-family: "Inter", sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #122182;
}

.seccion-servicios {
    padding: 50px;
}

.titulos-h5 {
    font-family: "Brygada 1918", serif;
    font-size: 18px;
    letter-spacing: 7px;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    color: #5F84CE;
    margin-top: 20px;
}

.titulos-h2 {
    font-family: "Brygada 1918", serif;
    font-size: 48px;
    line-height: 48px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #122182;
}

.titulos-h2 b {
    font-family: "Brygada 1918", serif;
    font-size: 48px;
    line-height: 48px;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: italic;
    color: #122182;
}

.parrafos-p {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #122182;
}

.boton-azul {
    background-color: #5F84CE;
    border-color: #5F84CE;
    border-style: solid;
    border-width: 2px;
    border-radius: 0px;
    padding: 15px 40px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 7px;
    text-transform: uppercase;
    color: #fff;
}

.boton-azul:hover {
    background-color: #FFFFFF;
    border-color: #5F84CE;
    border-style: solid;
    border-width: 2px;
    border-radius: 0px;
    padding: 15px 40px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 7px;
    text-transform: uppercase;
    color: #5F84CE;
}

.mainpic {
    border-radius: 24px;
    width: 100%;
    height: auto;
}

.seccion-productos {
    padding: 50px;
}



footer {
    padding: 50px 0 0 0;
}

.caja-footer {
    padding: 50px 0 70px 0;
}