@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Share+Tech+Mono&family=Suranna&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



#InteriorNav{
    background-color: #0F1533;
    flex-wrap: wrap !important;
}

#barra {
    background-color: #0F1533;
}

.imagenFondo {
    background-image: url(./assets/bg-night-2.jpg);
    height: auto;
    width: 10hv;
    padding-top: 7%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

#testing {
    color: aliceblue;
}

#first-text{
    letter-spacing: 3px;
    font-family: "Brygada+1918", serif;
}

#first-section{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedorpadrenav{
  
    display: flex;
    padding: 10px;
    /* padding-inline: 100px !important; */
} 

.contenedor-logo{
    height:70px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    padding: 0;
}

.logo{
    width: 200px;
}

.site-description{
    position: absolute;
    bottom: -10px;
    left: 35px;
    color: white;
    letter-spacing: 2px;
    font-size: 12px;


}

.contenedortextoimagen{
    width: max-content;
    margin: 0;
    font-family: "Inter", serif;
    /* text-align: center; */
}

.contenedortextoimagen h2{
    text-wrap: pretty;
    width: 65%;
    font-size: 55px;
    font-family: "Brygada+1918", serif;
}

.contenedortextoimagen h2 b{
    font-style: italic;
    font-family: "Brygada+1918", serif;
}

#Icons-first-section{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: auto;
    height: 10%;
    gap: 10px;
}

#buttonFirstSection{
    letter-spacing: 3px;
    width: 35%;
    font-family: "Inter", serif;
}

#background-SecondImage{
    background-image: url(./assets/pic-woman-bed.jpg);
    height: 130vh;
    width: 10hv;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#SubSecondSection{
    letter-spacing: 3px;
    font-family: "Brygada+1918", serif;
    width: 35%;
    color: #0F1533;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 5%;
}

#textSecondSection{
    font-family: "Brygada+1918", serif;
    color: #0F1533;
    align-items: center;
    width: 100%;
    font-size: 260%;
    padding-left: 2%;
}

#SecondText-SecondSection{
    width: 70%;
    padding-left: 2%;
    font-family: "Inter", serif;
}

#SegundoParrafo{
    font-size: 125%;
    text-align: center;

}

#Thirdsectionbg{
    background-image: url(./assets/bg-moon.jpg);
    height: 35vh;
    width: 10hv;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#ThirdSectionText{
    display: flex;
    color: #f1f2f7;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 280%;
    padding-left: 2%;
    font-family: "Brygada+1918", serif;
}

#Forthsectionbg{
    background-image: url(./assets/bg-moon.jpg);
    height: 80vh;
    width: 10hv;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: lighten;
    background-color: #5F84CE;
}

#ForthSectionText{
    display: flex;
    color: #0d1758;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 140%;
    padding-left: 13%;
    padding-right: 13%;
    padding-top: 1%;
    text-align: center;
    line-height: 100%;
    font-family: "Inter", serif;
}

#Picturereference{
    height: 8%;
    width: 5%;
    background-color: red;
    border-radius: 50%;
    object-fit: cover;
    display: flex;
    gap: 5%;
}

#NameReference{
    font-family: "Inter", serif;
    letter-spacing: 3px;
    font-size: 60%;
}

#LocationReference{
    font-size: 60%;
    color: #f1f2f7;
    font-family: "Inter", serif;
}

@media (width <= 600px){
    .contenedortextoimagen h2{
        width: 100%;
    }
    .contenedortextoimagen{
        max-width: 100%;
        text-align: center;
    }
}

